.Item {
  margin-bottom: 30px;
  border-bottom: 1px dotted #bbb;
  padding-bottom: 10px;
  overflow: hidden;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.Item.active {
  text-decoration: line-through;
  color: #dda0dd;
}

.Item .right {
  display: flex;
  flex: 1;
}

.Item .right .text {
  flex: 1;
  margin-left: 1rem;
}
.Item .right input {
  flex: 1;
}

.Item .right form {
  display: flex;
  flex: 1;
}

.Item .right .button .remove {
  margin-left: 1rem;
}
